[Unit]
Description=luug firewall scripts
After=network.target
PartOf=networking.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/local/bin/luug_iptables.sh start
ExecStop=/usr/local/bin/luug_iptables.sh stop


[Install]
WantedBy=default.target
